.fondo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
}
.menuMain{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.menuHome{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.menuAboutMe{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.menuContact{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.enlaces{
    display: flex;
    flex-direction: row;
    align-content: center; 
}

.gitHub{
    width: 50%;
}

.linkedin{
    width: 50%;
}
